@media(max-width: 990px) {
    .dropdown {
        width: 80%;
        padding: 15px 0;
        text-align: center;
    }

    .dropdown .dropdown__title {
        padding: 0;
    }

    .dropdown .dropdown__title::after {
        bottom: -5px;
    }

    .dropdown__content {
        display: none;
        padding-top: 10px;
    }

    .dropdown__content a {
        text-align: left;
        display: block;
        padding: 5px 0;
    }

    .dropdown__active .dropdown__title {
        color: #E53E2B;
    }

    .dropdown__active .dropdown__content {
        display: block;
    }

    .dropdown__content a::after {
        content: none;
    }
}

@media(min-width: 991px) {

    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown__content {
        position: absolute;
        background-color: #ffffff;
        min-width: 220px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        top: 10px;
        opacity: 0;
        visibility: hidden;
        transition: visibility 0.2s ease-in-out,
            top 0.2s ease-in-out,
            opacity 0.2s ease-in-out;
        padding: 16px 25.6px;
    }

    /* Links inside the dropdown */
    .dropdown__content a {
        padding: 0;
        text-decoration: none;
        display: block;
        text-align: center;
        color: #1c1c1c;
        font-size: 16px;
        font-family: var(--rubik-font-family);
        margin: 12.5px 20px;
    }

    .dropdown__content a:hover {
        text-decoration: none;
    }

    .dropdown__content a::after {
        content: none;
    }

    .dropdown:hover .dropdown__content {
        visibility: visible;
        top: 27px;
        opacity: 1;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }

}